# ================================================
# Variables utilisées dans les différents scripts
# ================================================
k=3
SEUIL_RAG=0.65
INDEX_NAME=faiss_index_short # utilisation de 'faiss_index_long' pour la version long
CSV_FILE=data/new_resultat_evaluation.csv
model=mistral-small-latest