# ===================
# FICHIERS À IGNORER
# ===================

# ====================================
# Ne pas rendre visible nos "secrets"
.env

# ===============================
# Notebook test à ne pas montrer
test.ipynb
notebook_preprocessing copy.ipynb
notebook_preprocessing copy 2.ipynb


# ==========================================
# Poetry lock pas de nécessité à le montrer
poetry.lock

# ===================================================
# On peut ignorer pour le moment
__pycache__
faiss_index
tests
.DS_Store
faiss_index.idx
app copy.py
notebook/.DS_Store
faiss_index_long/
faiss_index_short/
api_test.py